@model Models.Status

@{
    ViewData["Title"] = "Status - Delete";
    ViewData["PageTitle"] = "Status";
    ViewData["PageType"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";


    int qty = -1;
    var test = int.TryParse(ViewData["Qty"] as string, out qty);

    int qtyHardware = 0;
    var test1 = int.TryParse(ViewData["QtyHardware"] as string, out qtyHardware);

    int qtySoftware = 0;
    var test2 = int.TryParse(ViewData["QtySoftware"] as string, out qtySoftware);

    int qtyPurchaseItem = 0;
    var test3 = int.TryParse(ViewData["QtyPurchaseItem"] as string, out qtyPurchaseItem);

    int qtyLicense = 0;
    var test4 = int.TryParse(ViewData["QtyLicense"] as string, out qtyLicense);

    int qtyAsset = 0;
    var test5 = int.TryParse(ViewData["QtyAsset"] as string, out qtyAsset);


    string purchaseItem = qtyPurchaseItem > 1 ? " purchase items" : " purchase item";
    string license = qtyLicense > 1 ? " licenses" : " license";
    string asset = qtyAsset > 1 ? " assets" : " asset";
}

<br />

@if (qty > 0)
{
    <br />
    <br />
    <h3>Attention: You can't delete this status "@Model.Name"!</h3>
    <hr />
    <h4>"@Model.Name" is linked to:</h4>
    <br />
    <ul>
        <li>@qtyHardware x hardware</li>
        <li>@qtySoftware x software</li>
        <li>@qtyPurchaseItem x @purchaseItem</li>
        <li>@qtyLicense x @license</li>
        <li>@qtyAsset x @asset</li>
    </ul>

    <p>It's not possible to delete @Model.Name! (recomendated)</p>
    <hr />
    <form>
        <button asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.StatusID">Edit</button> |
        <button asp-action="Index" class="btn btn-outline-info">Back</button>
    </form>
    <br />
    <hr />

    @if (qtyHardware > 0)
    {
        <h2>Hardware</h2>
        <br />
        <table class="table">
            <thead style="background-color: lightgrey">
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Description</th>
                    @*<th>Qty purchase items</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListHardware as List<Models.Hardware>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.PurchaseItems.Count())*@
                        </td>
                        <td>
                            @if (@item.ProductType.ProductChild == 0)
                            {
                                <a asp-controller="Hardware" asp-action="Edit" asp-route-id="@item.ProductID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                                <a asp-controller="Hardware" asp-action="Details" asp-route-id="@item.ProductID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                            }

                            @if (@item.ProductType.ProductChild > 0)
                            {
                                <a asp-controller="Software" asp-action="Edit" asp-route-id="@item.ProductID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                                <a asp-controller="Software" asp-action="Details" asp-route-id="@item.ProductID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (qtySoftware > 0)
    {
        <h2>Software</h2>
        <br />
        <table class="table">
            <thead style="background-color: lightgrey">
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Description</th>
                    @*<th>Qty purchase items</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListSoftware as List<Models.Software>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.PurchaseItems.Count())*@
                        </td>
                        <td>
                            @if (@item.ProductType.ProductChild == 0)
                            {
                                <a asp-controller="Hardware" asp-action="Edit" asp-route-id="@item.ProductID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                                <a asp-controller="Hardware" asp-action="Details" asp-route-id="@item.ProductID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                            }

                            @if (@item.ProductType.ProductChild > 0)
                            {
                                <a asp-controller="Software" asp-action="Edit" asp-route-id="@item.ProductID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                                <a asp-controller="Software" asp-action="Details" asp-route-id="@item.ProductID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (qtyPurchaseItem > 0)
    {
        <h2>Purchase item</h2>
        <br />
        <table class="table">
            <thead style="background-color: lightgrey">
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Description</th>
                    @*<th>Qty purchase items</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListPurchaseItem as List<Models.PurchaseItem>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseQty)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.PurchaseItems.Count())*@
                        </td>
                        <td>
                            <a asp-controller="PurchaseItem" asp-action="Edit" asp-route-id="@item.PurchaseItemID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                            <a asp-controller="PurchaseItem" asp-action="Details" asp-route-id="@item.PurchaseItemID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (qtyLicense > 0)
    {
        <h2>License</h2>
        <br />
        <table class="table">
            <thead style="background-color: lightgrey">
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Description</th>
                    @*<th>Qty purchase items</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListLicense as List<Models.License>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseItem.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenseType.Name)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.PurchaseItems.Count())*@
                        </td>
                        <td>
                            <a asp-controller="License" asp-action="Edit" asp-route-id="@item.LicenseID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                            <a asp-controller="License" asp-action="Details" asp-route-id="@item.LicenseID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (qtyAsset > 0)
    {
        <h2>Asset</h2>
        <br />
        <table class="table">
            <thead style="background-color: lightgrey">
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Description</th>
                    @*<th>Qty purchase items</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListAsset as List<Models.Asset>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseItem.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetOwner.OwnerDescription)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.PurchaseItems.Count())*@
                        </td>
                        <td>
                            <a asp-controller="Asset" asp-action="Edit" asp-route-id="@item.AssetID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                            <a asp-controller="Asset" asp-action="Details" asp-route-id="@item.AssetID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@if (qty == 0)
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HasProduct)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HasProduct)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductSequence)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductSequence)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NoSupport)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NoSupport)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HasPurchase)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HasPurchase)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseSequence)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseSequence)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GenerateAssetOrLicense)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GenerateAssetOrLicense)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HasAsset)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HasAsset)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AssetSequence)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssetSequence)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HasLicense)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HasLicense)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LicenceSequence)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LicenceSequence)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OnStock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OnStock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InUse)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InUse)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OutOfUse)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OutOfUse)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="StatusID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
        </form>
    </div>
}

@if (qty < 0)
{
    <partial name="PartialViews/_DeleteRecordErrorPartial" />
}