@model Models.GroupPeople

@{
    ViewData["Title"] = "Group people - Details";
    ViewData["PageTitle"] = "Group people";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ref)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ref)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.GroupPeopleID">@Localizer["Edit"]</a> |
    <a class="btn btn-outline-info" asp-action="Index">@Localizer["Back to List"]</a>
</div>
