@model Models.Supplier

@{
    ViewData["Title"] = "Supplier - Details";
    ViewData["PageTitle"] = "Supplier";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDeskTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDeskTel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDeskMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDeskMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDeskWeb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDeskWeb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasHardware)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasHardware)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasSoftware)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasSoftware)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActief)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActief)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.SupplierID">Edit</a> |
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
