@model Models.Purchase

@{
    ViewData["Title"] = "Purchase - Details";
    ViewData["PageTitle"] = "Purchase";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseTypeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.No)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.No)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPurchase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPurchase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsProcurement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsProcurement)
        </dd>*@
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.PurchaseID">Edit</a> | 
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
