@model Models.AssetDetail

@{
    ViewData["Title"] = "Asset detail - Delete";
    ViewData["PageTitle"] = "Asset detail";
    ViewData["PageType"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail.DetailID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AssetDetailID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-outline-info" asp-controller="Asset" asp-action="Edit" asp-route-id="@Model.AssetID">Back to List</a>
    </form>
</div>
