@model Models.AssetDetail

@{
    ViewData["Title"] = "Asset detail - Details";
    ViewData["PageTitle"] = "Asset detail";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail.DetailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition2)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.AssetDetailID">Edit</a> |
    <a class="btn btn-outline-info" asp-controller="Asset" asp-action="Edit" asp-route-id="@ViewData["AssetID"]">Back to List</a>
</div>
