@model IEnumerable<Models.AssetOwner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<br />
<div class="text-right">
    <h4><a asp-action="Create">Create New</a></h4>
</div>
<table class="table">
    <thead>
        <tr style="background-color: lightgrey"> 
            <th>
                @Html.DisplayNameFor(model => model.OperationalSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupPeople)
            </th>
            <th width="120"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationalSite.Ref)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.People.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupPeople.GroupName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AssetOwnerID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                    <a asp-action="Details" asp-route-id="@item.AssetOwnerID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                    <a asp-action="Delete" asp-route-id="@item.AssetOwnerID"><img src="~/images/icons/Delete.png" style="max-height:30px; max-width:30px" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
