@*@model Models.OperationalSite*@
@model BLL.ViewModels.OperationalSiteViewModel

@{
    ViewData["Title"] = "Operational Site - Edit";
    ViewData["PageTitle"] = "Operational Site";
    ViewData["PageType"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div id="onchange">
    <form asp-action="Edit" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="operationalSite.OperationalSiteID" />
        <div class="row">
            <div class="col-sm-2">

                <div class="form-group">
                    <label asp-for="operationalSite.Ref" class="control-label"></label>
                    <input asp-for="operationalSite.Ref" class="form-control" />
                    <span asp-validation-for="operationalSite.Ref" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="operationalSite.Name" class="control-label"></label>
                    <input asp-for="operationalSite.Name" class="form-control" />
                    <span asp-validation-for="operationalSite.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group form-check">
                    <label class="form-check-label">IsGroup</label>
                    <input class="form-control form-check-input" asp-for="operationalSite.IsGroup" />
                    <span asp-validation-for="operationalSite.IsGroup" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="operationalSite.OperationalSiteGroupId" class="control-label"></label>
                    <select asp-for="operationalSite.OperationalSiteGroupId" class="form-control" asp-items="ViewBag.OperationalSiteGroupId"><option disabled selected>---Select---</option><option value="null">---None---</option></select>
                    <span asp-validation-for="operationalSite.OperationalSiteGroupId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Save" class="submitbutton btn btn-primary" /> |
                <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
            </div>
        </div>

        <hr />

        @*SubForm: Locations*@
        <div>
            <div class="float-sm-left">
                <h3>Location(s)</h3>
            </div>
            <div class="text-sm-right">
                <a class="create" asp-controller="OperationalSiteLocation" asp-action="Create" asp-route-operationalSiteID="@Model.operationalSite.OperationalSiteID"><h3>Add location</h3></a>
                <button class="submitbutton btn-link" asp-action="Edit" asp-route-id="@Model.operationalSite.OperationalSiteID" asp-route-goToOperationSiteLocation="true" formmethod="post" style="background-color: transparent; border:none"><h3>Add location</h3></button>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table-sm col-sm-12">
        <thead style="background-color: lightgrey">
            <tr>
                <th scope="col">O. Site</th>
                <th scope="col">No</th>
                <th scope="col">Building</th>
                <th scope="col">Floor</th>
                <th scope="col">Room no.</th>
                <th scope="col">Room</th>
                <th scope="col">Warehouse</th>
                <th width="70"></th>
            </tr>
        </thead>
        <hr />
        <tbody>
            @if (Model.operationalSiteLocations != null)
            {
                @foreach (var item in Model.operationalSiteLocations
                  .OrderBy(o => o.OperationalSite.Ref)
                  .ThenBy(o => o.Location.Building.Ref)
                   //.ThenBy(o => o.Location.Floor.Ref)
                   //.ThenBy(o => o.Location.RoomNo)
                   )
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OperationalSite.Ref)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Building.Ref)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Building.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Floor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.RoomNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Room.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.IsWarehouse)
                        </td>
                        <td>
                            @*<a asp-controller="OperationalSiteLocation" asp-action="Edit" asp-route-operationalSiteID="@item.OperationalSiteID" asp-route-id="@item.OperationalSiteLocationID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>*@
                            <a asp-controller="OperationalSiteLocation" asp-action="Edit" asp-route-id="@item.OperationalSiteLocationID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                            <a asp-controller="OperationalSiteLocation" asp-action="Delete" asp-route-id="@item.OperationalSiteLocationID"><img src="~/images/icons/Delete.png" style="max-height:30px; max-width:30px" /></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<hr />

@*SubForm: Assets - Only for info*@
<h3>Asset(s)</h3>
<div>
    <partial name="PartialViews/_ListOfAssetsPartial" model="Model.assets" />
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
        $(document).ready(function () {

            $('.btn-link').hide();

            var isChanged = false;
            var isSubmit = false;

            $('#onchange').change(function () {

                if (isChanged == false) {
                    $('.create').hide();
                    $('.btn-link').show();

                    isChanged = true;
                }
            });

            $('.submitbutton').click(function () {
                isSubmit = true;
            });

            window.onbeforeunload = function (e) {
                if (isChanged && (!isSubmit)) {
                    return "Make sure to save all changes.";
                }
            };
        });


</script>

}
