@model List<Models.Asset>

@{
    ViewData["Title"] = "Person - Delete";
    ViewData["PageTitle"] = "Person";
    ViewData["PageType"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<h3>@Localizer["Attention: You can't delete @ViewBag.Owner!"]</h3>
<hr />
<h5>@Localizer["There are @ViewData["QtyAssets"] Assets still linked to this person."]</h5>
<p>@Localizer["If you really want to delete @ViewData["Owner"], pls go to each Asset bellow and change the owner."]</p>
<hr />


<table class="table">
    <thead>
        <tr>
            <th>AssetTag</th>
            <th>Status</th>
            <th>Product</th>
            <th>Target description</th>
            <th>Owner</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(a => a.AssetTag))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseItem.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetOwner.OwnerDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationalSiteLocation.Location.LocationDescription)
                </td>
                <td>
                    <a asp-controller="Asset" asp-action="Edit" asp-route-id="@item.AssetID">@Localizer["Edit"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="DeleteNotPossible">
    <input type="hidden" asp-for="@ViewData["ID"]"  />
    <input type="submit" value="Delete person" class="btn btn-danger"  asp-route-id="@ViewData["ID"]" /> |
    <a class="btn btn-outline-info" asp-action="Index">@Localizer["c"]</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}