@model IEnumerable<Models.Person>

@{
    ViewData["Title"] = "Person - Index";
    ViewData["PageTitle"] = "Person";
    ViewData["PageType"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="text-right">
    <h4><a asp-action="Create">Create New</a></h4>
</div>
<table class="table">
    <thead style="background-color: lightgrey">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.GroupPeople)
            </th>*@
            <th width="120"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(d => d.Department.Name).ThenBy(f => f.FullName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ref)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.GroupPeople.GroupName)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                    <a asp-action="Details" asp-route-id="@item.PersonID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                    <a asp-action="Delete" asp-route-id="@item.PersonID"><img src="~/images/icons/Delete.png" style="max-height:30px; max-width:30px" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
