@model IEnumerable<Models.Rack>

@{
    ViewData["Title"] = "Rack - Index";
    ViewData["PageTitle"] = "Rack";
    ViewData["PageType"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="text-right">
    <h4><a asp-action="Create">Create New</a></h4>
</div>
<table class="table">
    <thead style="background-color: lightgrey">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="120"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RackID"><img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                    <a asp-action="Details" asp-route-id="@item.RackID"><img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>
                    <a asp-action="Delete" asp-route-id="@item.RackID"><img src="~/images/icons/Delete.png" style="max-height:30px; max-width:30px" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
