@model Models.AssetHistory

@{
    ViewData["Title"] = "Asset history - Delete";
    ViewData["PageTitle"] = "Asset history";
    ViewData["PageType"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to remove this asset history?</h3>
<div>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.PurchaseItem.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.PurchaseItem.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AssetHistoryID" />
        <button type="submit" value="Delete" class="btn btn-danger" asp-route-assetID="@Model.AssetID">Delete</button> |
        <a class="btn btn-outline-info" asp-controller="Asset" asp-action="Edit" asp-route-id="@Model.AssetID">Back to List</a>
    </form>
</div>