@model Models.PurchaseItem

@{
    ViewData["Title"] = "Purchase items - Details";
    ViewData["PageTitle"] = "Purchase items";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase.No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarentyIntervalMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarentyIntervalMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseID)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.PurchaseItemID">Edit</a> |
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
