@model Models.Asset

@{
    ViewData["Title"] = "Asset - Details";
    ViewData["PageTitle"] = "Asset";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.PurchaseItemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerieNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerieNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirePeriodMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirePeriodMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningPeriod.WarningPeriodID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarentyIntervalMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarentyIntervalMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsingDateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsingDateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsingDateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsingDateEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetOwner.AssetOwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationalSiteLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationalSiteLocation.OperationalSiteLocationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RackLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RackLocation.RackNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URack.URackID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackupID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackupID)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.AssetID">Edit</a> |
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
