@model Models.LicenseType

@{
    ViewData["Title"] = "License type - Details";
    ViewData["PageTitle"] = "License type";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Localizer["LicenseType"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LimitedUse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LimitedUse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnlimitedUse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnlimitedUse)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.LicenseTypeID">@Localizer["Edit"]</a> |
    <a class="btn btn-outline-info" asp-action="Index">@Localizer["Back to List"]</a>
</div>
