@model Models.OperationalSiteLocation

@{
    ViewData["Title"] = "Operational Site Location - Delete";
    ViewData["PageTitle"] = "Operational site location";
    ViewData["PageType"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int qty = -1;
    var test = int.TryParse(ViewData["Qty"] as string, out qty);

    string assets = qty > 1 ? " Asstes" : " Asset";
}

<br />

@if (qty > 0)
{
    <h3>@Localizer["Attention: You can't delete this Operational Site Location:"]</h3>
    <h3>@Localizer[""@Model.Location.LocationDescription"!"]</h3>
    <h4>@Localizer["as it's linked to:"]</h4>
    <br />
    <ul>
        <li>@qty x @assets</li>
    </ul>

    <p>@Localizer["It's not possible (recomendated) to delete @Model.Location.LocationDescription!"]</p>
    <hr />
    <form>
        <button asp-action="Edit" class="btn btn-primary"
        asp-route-id="@Model.OperationalSiteLocationID">@Localizer["Edit"]</button> |
        <button class="btn btn-outline-info" asp-controller="OperationalSite"
        asp-action="Edit" asp-route-id="@Model.OperationalSiteID" class="btn btn-primary">@Localizer["Back"]</button>
    </form>
    <br />
    <hr />

    @if (qty > 0)
    {
        <h2>@Localizer["Details"]</h2>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>AssetTag</th>
                    <th>Product type</th>
                    <th>Asset</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListAssets as List<Models.Asset>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseItem.Product.ProductType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseItem.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetOwner.OwnerDescription)
                        </td>
                        <td>
                            <a asp-controller="Asset" asp-action="Edit" asp-route-id="@item.AssetID">
                            <img src="~/images/icons/Edit.png" style="max-height:30px; max-width:30px" /></a>
                            <a asp-controller="Asset" asp-action="Details" asp-route-id="@item.AssetID">
                            <img src="~/images/icons/Clipboard.png" style="max-height:30px; max-width:30px" /></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <hr />
}

@if (qty == 0)
{
    <h3>@Localizer["Are you sure you want to delete this?"]</h3>
    <div>
        <h4>@Localizer["OperationalSiteLocation"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OperationalSite)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OperationalSite.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location.LocationDescription)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="OperationalSiteLocationID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-outline-info" asp-controller="OperationalSite"
            asp-action="Edit" asp-route-id="@Model.OperationalSiteID">@Localizer["Back to List"]</a>
        </form>
    </div>
}
@if (qty < 0)
{
    <partial name="PartialViews/_DeleteRecordErrorPartial" />
}