@model Models.OperationalSiteLocation

@{
    ViewData["Title"] = "Operational Site Location - Details";
    ViewData["PageTitle"] = "Operational site location";
    ViewData["PageType"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationalSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationalSite.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationDescription)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.OperationalSiteLocationID">Edit</a> |
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
